<div class="footer">
    <div class="indentation">
        <div class="footer_div">
            <img class="footer_logo" src="./../../assets/img/logo.png" alt="">
            <div class="social_media">
                <img src="./../../assets/icons/linkedIn.png" alt="">
                <img src="./../../assets/icons/linkedIn.png" alt="">
                <img src="./../../assets/icons/linkedIn.png" alt="">
            </div>
            <div class="impressum">Impressum - Legalnotice</div>
        </div>
    </div>
</div>