.footer {
    width: 100vw;
    max-width: 100%;
    background-color: #181823;
}

.footer_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 34px;
}

.footer_logo {
    margin-left: -6px;
    height: 68px;

    &:hover {
        cursor: pointer;
        opacity: .6;
    }
}

.social_media {
    img {
        padding-right: 20px;
        width: 18px;
        height: 18px;

        &:hover {
            cursor: pointer;
            opacity: .6;
        }
    }
}

.impressum {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #8491A0;

    &:hover {
        cursor: pointer;
        opacity: .6;
    }
}

@media (max-width: 770px) {
    .footer_div {
        flex-direction: column;
        justify-content: flex-start;
        align-items: unset;
        padding-top: 24px;
        padding-bottom: 72px;
    }

    .footer_logo {
        &:hover {
            cursor: unset;
            opacity: unset;
        }
    }

    .social_media {
        padding: 28px 0 40px 0;

        img {
            &:hover {
                cursor: unset;
                opacity: usnet;
            }
        }
    }

    .impressum {
        &:hover {
            cursor: unset;
            opacity: unset;
        }
    }
}