<div class="footer">
    <div class="indentation">
        <div class="footer_div">
            <a href="#welcome"> <img class="footer_logo" src="./../../assets/img/logos/logo-name-white.svg" alt=""></a>
            <div class="social_media">
                <a href="https://www.xing.com/profile/Samuel_Haas9" target="_blank" rel="noopener noreferrer">
                    <img src="./../../assets/icons/xing.png" alt="">
                </a>
                <a href="https://github.com/SamVanEast" target="_blank" rel="noopener noreferrer">
                    <img src="./../../assets/icons/github.png" alt="">
                </a>
                <a href="https://www.linkedin.com/in/samuel-haas-15ba5a237" target="_blank" rel="noopener noreferrer">
                    <img src="./../../assets/icons/linkedIn.png" alt="">
                </a>
            </div>
            <a class="impressum" routerLink="/impressum" (click)="scrollToTop()">Imprint - Legalnotice</a>
        </div>
    </div>
</div>