.about_me {
    position: relative;
    min-height: 500px;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0 40px 0;
    color: #2B7A77;

    div {
        position: relative;
        padding-left: 5%;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    span {
        width: 80%;
    }

    img {
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
        max-width: 50%;
        object-fit: cover;
    }

}

.about_me_headline {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
}

.about_me_text {
    padding-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

@media (max-width: 770px) {
    .about_me {
        flex-direction: column;
        justify-content: center;
        align-items: unset;
        padding: unset;
        padding-top: 31px;

        div {
            width: 90%;
            padding-left: 5%;
            padding-right: 5%;
            height: unset;
            padding-bottom: 20px;
        }

        span {
            width: 100%;
        }

        img {
            height: unset;
            position: unset;
            max-width: unset;
            width: 100%;
            object-fit: cover;
            top: unset;
            right: unset;
            bottom: unset;
        }

    }

    .about_me_headline {
        font-size: 32px;
    }
    
    .about_me_text {
        padding-top: 20px;
    }
}