<div class="about_me">
    <div #aboutMeDecription >
        <span class="about_me_headline" [style.visibility]="showContent ? 'visible' : 'hidden'">
            About me
        </span>
        <span class="about_me_text" [style.visibility]="showContent ? 'visible' : 'hidden'">
            I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and
            experience with the universe. I try to grasp these things with my values: authenticity, creativity, &
            hospitality.
        </span>
    </div>
    <img src="../../assets/img/profil_img_2.png" alt="">
</div>