<div class="about_me">
    <div class="about_me_description" #aboutMeDecription>
        <span class="about_me_headline" [style.visibility]="showContent ? 'visible' : 'hidden'">
            About me
        </span>
        <span class="about_me_text" [style.visibility]="showContent ? 'visible' : 'hidden'">
            Hello, my name is Samuel Haas. I am in my mid-twenties and have lived in Germany all my life. During
            my school years I had the opportunity to get to know the world of technology through Jugend Forscht.
            This small research project turned out to be so successful that I subsequently made electronics and
            mechanics the subject of my apprenticeship at a leading medium-sized company in the region. After
            more than three years in the midst of complex industrial systems with various controls and programming,
            my programming skills were not enough - I wanted more. Initially, I worked on my own with various
            books, but then I decided to take a professional further education course to become a frontend
            developer. It was an exciting, educational time - now that I have gained my first experience as a 
            Fontend developer, I would like to expand on it and am looking forward to exciting and challenging projects.
            <!-- Hallo. Mein Name ist Samuel Haas. Ich bin Mitte Zwanzig und lebe mein ganzes Leben
            schon in Deutschland. In meiner Schulzeit habe recht früh die Möglichkeit gehabt, durch
            Jugend Forscht die Welt der Technik kennen zu lernen. Dieses kleine Forschungsprojekt
            entwickelte sich so erfolgreich, dass ich anschließend Elektronik und Mechanik zum Inhalt
            meiner Ausbildung bei einem führenden mittelständischen Unternehmen in der Region
            machte. Nach mehr als drei Jahren inmitten von komplexen Industrieanalagen mit
            diversen Steuerungen und Programmierungen, reichten mir meine
            Programmierkenntnisse nicht mehr – ich wollte mehr. Anfangs noch in Eigenregie mit
            verschiedenen Büchern, entschied ich mich dann zu einer professionellen Weiterbildung
            zum Frontend-Developer. Es war eine spannenden, lehrreiche Zeit – jetzt nachdem ich 
            meine ersten Erfahrungen als Fontend-Developer gemacht habe, möchte ich sie ausbauen 
            und freue mich auf spannende und herausfordernde Projekte. -->
        </span>
    </div>
    <!-- <div class="about_me_img"></div> -->
    <img src="../../assets/img/profil_imges/11.jpg" loading="lazy" alt="">
</div>