<app-header class="header" id="header" #header></app-header>
<app-weclome-section id="welcome" class="scrollMargin" #welcomeSection></app-weclome-section>
<app-about-me id="about-me" class="scrollMargin" #aboutMe></app-about-me>
<app-my-skills id="skills" class="scrollMargin" #skills></app-my-skills>
<app-portfolio id="portfolio" class="scrollMargin" #portfolio></app-portfolio>
<app-contact id="contact" class="scrollMargin" #contact></app-contact>
<app-footer id="footer" class="scrollMargin" #footer></app-footer>
<app-menu-mobile class="menu_mobile" *ngIf="showMenu" (click)="closeMenu()" ></app-menu-mobile>