<div class="portfolio">
    <div class="indentation">
        <div class="portfolio_header" #portfolioHeader [style.visibility]="showHeader ? 'visible' : 'hidden'">
            <span class="headline">
                Portfolio
            </span>
            <span class="description">
                This page is a sample of my work - please feel free to try them out.
            </span>
        </div>

        <div class="projects" #projects>
            <a class="project" *ngFor="let project of imgs; let i = index" href="{{ links[i] }}" target="_blank"
                rel="noopener noreferrer" id="project{{ i }}" [style.visibility]="showContent ? 'visible' : 'hidden'">
                <img src="./../../assets/img/{{ project }}" alt="">
                <div class="project_headline">
                    {{ headline[i] }}
                </div>
                <div class="project_languages">
                    {{ languages[i] }}
                </div>
                <div class="project_description">
                    {{ description[i] }}
                </div>
            </a>
        </div>
    </div>
</div>