.weclome_section {
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    background-color: #2B7A77;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
        padding-top: 88px;
        max-width: 52%;
        max-height: 90%;
        z-index: 1;
    }
}

.welcome {
    margin-left: -20%;
    padding-top: 95px;
    min-height: calc(100vh - 88px);
    width: 68%;
    background-color: #133B3F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 5%;

    span {
        width: 80%;
        z-index: 2;
        color: white;
    }
}

.weclome_headline {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
}

.welcome_text {
    padding-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 40px;
}


@media (max-width: 770px) {
    .weclome_section {
        padding-top: 88px;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #133B3F;


        img {
            padding-top: unset;
            max-width: unset;
            width: 100%;
        }
    }

    .welcome {
        width: 100%;
        padding-right: unset;
        margin-left: unset;
        padding-top: unset;
        min-height: unset;
        flex: 1 1 auto;


        span {
            width: 90%;
            padding-right: 5%;
            padding-left: 5%;
            z-index: 2;
            color: #ffffff;
        }
    }

    .weclome_headline {
        padding-top: 31px;
        font-size: 32px;
    }

    .welcome_text {
        padding-top: 20px;
        padding-bottom: 31px;
    }
}