<div class="weclome_section">
    <img src="./../../assets/img/profil_imges/6.jpg" alt="">
    <div class="welcome">
        <span class="weclome_headline introAnimationFromLeft">
            I'm Samuel Haas. A frontend developer from Germany.
            <!-- Ich bin Samuel Haas. Ein Frontend-Entwickler aus Deutschland. -->
        </span>
        <span class="welcome_text introAnimationFromLeft">
            HTML, CSS, JavaScript, TypeScript - who would have thought that my educational journey would take me
            here. With my background in mechatronics I though am grateful to have followed my interest in programming. I
            keep discovering a whole new world – day by day.
            <!-- HTML, CSS, JavaScript, TypeScript - wer hätte gedacht, dass mich mein Bildungsweg einmal hierher führen
            würde. Mit meinem Hintergrund in Mechatronik bin ich jedoch dankbar, dass ich meinem Interesse am
            Programmieren gefolgt bin. Ich entdecke eine ganz neue Welt - Tag für Tag. -->
        </span>
    </div>

</div>