<div class="weclome_section">
    <img src="./assets/img/profil_img_1.png" alt="">
    <div class="welcome">
        <span class="weclome_headline introAnimationFromLeft">
            I’m Samuel Haas.
            A Front end Developer
            based in Germany.
        </span>
        <span class="welcome_text introAnimationFromLeft">
            I’m probably the most passionate developer you will ever get to work with. If you have a great project that
            needs some amazing skills, I’m your guy.
        </span>
    </div>

</div>