<div class="my_skills">
    <div class="indentation indentation_customization">
        <div class="my_skills_decription" #skillsDescription>
            <span class="my_skills_description_headline" [style.visibility]="showContent ? 'visible' : 'hidden'">
                Skillset
            </span>
            <span class="my_skills_description_text" [style.visibility]="showContent ? 'visible' : 'hidden'">
                I have grown my frontend developments skills that have allowed me to create different real projects.
            </span>
        </div>
        <div class="skills" #skills>
            <div class="skill" *ngFor="let icon of pathIcons; let i = index"
                [style.visibility]="showContent ? 'visible' : 'hidden'">
                <img src="./../../assets/icons/{{ icon }}" alt="">
                <span class="skill_description">{{ iconsDescription[i] }}</span>
            </div>
        </div>
    </div>
</div>