<div class="my_skills">
    <div class="indentation indentation_customization">
        <div class="my_skills_decription">
            <span class="my_skills_description_headline">
                Skillset
            </span>
            <span class="my_skills_description_text">
                I think everyone wants the same thing - relationship with humanity, peace with the metaphysical, and
                experience with the universe. I try to grasp these things with my values: authenticity, creativity, &
                hospitality.
            </span>
        </div>
        <div class="skills">
            <div class="skill" *ngFor="let icon of pathIcons; let i = index">
                <img src="./../../assets/icons/{{ icon }}" alt="">
                <span class="skill_description">{{ iconsDescription[i] }}</span>
            </div>
        </div>
    </div>
</div>