.my_skills {
    width: 100vw;
    max-width: 100%;
    background-color: black;
    padding-bottom: 80px;
    padding-top: 80px;

}

.indentation_customization {
    display: flex;
    justify-content: space-between;
}

.my_skills_decription {
    width: 36%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    color: white;

    span {
        width: 72%;
    }
}

.my_skills_description_headline {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
}

.my_skills_description_text {
    padding-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.skills {
    width: 64%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.skill {
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;

    img {
        padding-right: 20px;
        padding-left: 20px;
        width: 60px;
        filter: brightness(0) saturate(100%) invert(12%) sepia(83%) saturate(6229%) hue-rotate(258deg) brightness(90%) contrast(101%);
        transition: 225ms ease-in-out;

        &:hover {
            transform: translateY(-10px);
            transition: 225ms ease-in-out;
        }
    }

    span {
        max-width: 100px;
        padding-top: 16px;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 770px) {
    .my_skills {
        padding-bottom: 34px;
        padding-top: 54px;
    }

    .indentation_customization {
        display: flex;
        flex-direction: column;
    }

    .my_skills_decription {
        width: 100%;

        span {
            width: 100%;
        }
    }

    .my_skills_description_headline {
        font-size: 32px;
    }

    .my_skills_description_text {
        padding-top: 16px;
        padding-bottom: 96px;
    }

    .skills {
        width: 100%;
        justify-content: space-between;
    }

    .skill {
        padding-right: 20px;
        padding-left: 20px;

        img {
            padding-right: 20px;
            padding-left: 20px;
            width: 45px;

            &:hover {
                transform: unset;
                transition: unset;
            }
        }

        span {
            font-size: 14px;
        }
    }
}